<%- include("../partials/head") %>

<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/table.css">
<link rel="stylesheet" href="/css/stars.css">

</head>
<%- include("../partials/navbar") %>
<!--Main page to show the all available challenges in the database-->

<body>
  <section class="container">
    <div class="row align-items-center">
      <table id="problem-table indextable" class="table mt-5">
        <thead>
          <tr>
            <th class="problem"><a href="javascript:SortTable(0,'T');">Problem</a> </th>
            <th class="category">Category </th>
            <th class="level" data-field="level">Level </th>
            <% if(currentUser && currentUser.isAdmin) { %>
            <th class="points"> Edit</th>
            <%}%>
          </tr>
        </thead>
        <% gallery.forEach(function(problem){ %>

        <tbody>
        <tr>
          <td class="problem">
            <h4><a href="/<%= problem._id%>"><%= problem.name %></a></h4>
          </td>
          <td class="category"><%= problem.time %></td>
          <td>
            <div>
              <div class="starability-result" data-rating="<%= problem.level%>">
              </div>
          </td>
          <% if(currentUser && currentUser.isAdmin) { %>
            <td class="points"><a href="/<%= problem._id%>/edit" class="btn btn-warning">EDIT</a>
              <hr>
              <form id="deleteform" action="/<%= problem._id %>?_method=DELETE" method="POST">
                <button class="btn btn-secondary">DELETE</button>
              </form>
            </td>
            <%}%>
        </tr>
         <!-- <td class="problem">
            <h4><a href="/<%= problem._id%>"><%= problem.name %></a></h4>
          </td>
          <td class="category"><%= problem.time %></td>
           <td>
            <div>
              <div class="starability-result" data-rating="<%= problem.level%>">
              </div>
          </td>*/ -->


          
        </tbody>
        <% })%>
      </table>
    </div>
    <% if(currentUser && currentUser.isAdmin) { %>
    <div class="row align-items-center"> <a href="/problem/new" class="btn btn-success btnNew">ADD NEW CHALLENGE</a>
    </div>
    <%}%>
</section>



  
  

<%- include("../partials/footer") %>